body {
  /*  cursor:url(//marklv.qiniudn.com/img/cross.ico), crosshair;*/
  cursor:url(//marklv.qiniudn.com/img/Arrow.ico), auto;
  /*  cursor:url(//marklv.qiniudn.com/img/help.ico), help;
  cursor:url(//marklv.qiniudn.com/img/sizeall.ico), move;
  cursor:url(//marklv.qiniudn.com/img/wait.ico), progress;
  cursor:url(//marklv.qiniudn.com/img/ibeam.ico), text;
  cursor:url(//marklv.qiniudn.com/img/wait.ico), wait;
  cursor:url(//marklv.qiniudn.com/img/sizewe.ico), e-resize;
  cursor:url(//marklv.qiniudn.com/img/sizenesw.ico), ne-resize;
  cursor:url(//marklv.qiniudn.com/img/sizenwse.ico), nw-resize;
  cursor:url(//marklv.qiniudn.com/img/sizens.ico), n-resize;
  cursor:url(//marklv.qiniudn.com/img/sizenwse.ico), se-resize;
  cursor:url(//marklv.qiniudn.com/img/sizenesw.ico), sw-resize;
  cursor:url(//marklv.qiniudn.com/img/sizens.ico), s-resize;
  cursor:url(//marklv.qiniudn.com/img/sizewe.ico), w-resize;*/
}
.hero-unit {
  background-image:url(//marklv.qiniudn.com/img/jumbotronbg.jpg);
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:100%;
  background-position:top;
  overflow: hidden;
  border-radius:0;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//marklv.qiniudn.com/img/jumbotronbg.png', sizingMethod='scale');
}
.hero-unit p {
  margin-bottom: 15px;
}
.navbar-inner {
  background-color: #FFCC99;
  background-image: linear-gradient(to bottom, #99CC00 0px, #F8F8F8 100%);
  background: -moz-linear-gradient(top, #99CC00, #F8F8F8);
  background: -o-linear-gradient(top, #99CC00, #F8F8F8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CC00), to(#F8F8F8));
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#99CC00', endColorStr='#F8F8F8', gradientType='0');
}
.wrapper {
  max-width: 620px;
  padding: 0 20px 40px 20px;
  margin: auto;
}
.footer {
  background-image: linear-gradient(to bottom, #F8F8F8 0px, #FFCC00 100%);
  background: -moz-linear-gradient(top, #F8F8F8, #FFCC00);
  background: -o-linear-gradient(top, #F8F8F8, #FFCC00);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#FFCC00));
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F8F8F8', endColorStr='#FFCC00', gradientType='0');
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer p {
    margin-bottom: 0;
  }
}
.jcarousel img {
  width:600;
  height:400;
}
.jcarousel-control-prev, .jcarousel-control-next, .jp-pause, .jp-play {
  cursor:url(//marklv.qiniudn.com/img/uparrow.ico), auto;
}
